#div_exchanges_save{ display: none; }

#div_exchanges{ float: left; width: 33%; }
#div_currencies{ float: right; width: 33%; }
#div_markets{ display: inline-block; width: 33%; }

#div_deposit_addresses{ float: left; width: 33%; }
#div_open_orders{ float: right; width: 33%; }
#div_completed_orders{ display: inline-block; width: 33%; }

#div_deposits_withdrawals{ float: left; width: 33%; }
#div_btc_tx_sound{ float: right; width: 33%; }
#div_btc_visualizations{ display: inline-block; width: 33%; }

div.deposit_address{ font-size: 10pt; border: 1px solid #FFEEAA; background: blue; font-weight: bold; color: orange; }
span.deposit_address{ font-size: 8pt; color: green; }

div.open_orders{ font-size: 10pt; border: 1px solid #88BB36; background: orange; font-weight: bold; color: yellow; }
span.open_orders{ font-size: 8pt; color: green; }

div.nickelbox{ overflow:scroll; height:400px; }

div.trollbox_wrapper {
	float:left;
}

div.trollbox {
	font-size:10pt;
	width:350px;
	height:350px;
	border: 1px solid #666;
	overflow: scroll;
}

span.handle {
	color:blue;
}